/* ==========================
   HEADER
========================== */

.banner{
  position: relative;
  height: 90vh;
  display: flex;
  background-image: url(/assets/img/banner.jpg);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(214,51,132,0.7), rgba(76,110,245,0.7));
  z-index: 1;
}

.bannerContent{
  position: relative;
  z-index: 2;
  max-width: 900px;
}

.banner h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}

.banner p {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 28px;
}

.ctaBtn {
  display: inline-block;
  background: #ff6bcb;
  padding: 14px 32px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  transition: opacity .3s ease;
}

.ctaBtn:hover {
  opacity: 0.8;
}
