/* ==========================
   HEADER
========================== */

.header{
    width: 100%;
    background: linear-gradient(90deg, #d62284, #4c6ef5);
    padding: 18px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.nav{
    display: flex;
    gap: 18px;
}

.nav a {
    color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  transition: opacity .3s ease;
}

.nav a:hover {
  opacity: 0.7;
}

.btnLogin {
  border: 1px solid white;
  padding: 8px 16px;
  color: rgb(13, 13, 226);
  border-radius: 6px;
  text-decoration: none;
  font-size: .95rem;
  font-weight: 500;
  transition: background .3s ease;
}

.btnLogin:hover {
  background: rgba(255, 255, 255, 0.25);
}
