/* ==========================
   TESTIMONIOS
========================== */

.testimoniosSection{
    padding: 120px 0;
  background: #f8f9ff;
  text-align: center;
}

.testimoniosSubtitulo{
  text-transform: uppercase;
  font-weight: 600;
  color: #4c6ef5;
  font-size: .9rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.testimoniosTitulo{
  font-size: 2.2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 50px;
}

.testimoniosGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.testimoniosCard{
  background: white;
  padding: 35px 28px;
  border-radius: 14px;
  text-align: left;
  box-shadow: 0 4px 18px rgba(0,0,0,0.06);
  position: relative;
}

.testimonioTexto{
  font-size: .95rem;
  color: #555;
  line-height: 1.6;
  margin-top: 40px;
  margin-bottom: 30px;
}

.testimonioAutor{
  display: flex;
  align-items: center;
  gap: 14px;
}

.testimonioAutor img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonioAutor h3{
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.testimonioAutor p{
  font-size: .85rem;
  color: #777;
}